#heading {
    font-size: 100px;
}
#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #aa4465;
    padding: 10px;
    float: none;
    text-align: left;
}
.inp {
    height: 50px;
    width: 200px;
}
.container {
    background-color: gray;
}
body {
    background-image: url("cool-background.png");
}
#name1 {
    color: white;
}
#name2 {
    color: white;
}
